body{
  font-family: Arial, sans-serif;
  background-color: #222222;
  color: #EBFBFF;
}
a{
  color: #FF7900;
  text-decoration: none;
}

/* LOGIN AND REGISTER BOXES */
.auth-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.auth-box{
  background-color: #00244E;
  padding: 40px;
  border-radius: 15px;
  width: 400px;
}

.message{
  padding: 10px;
  text-align: center;
}

/* FORMS/AUTH */
label {
  display: 222222;
  color: #EBFBFF;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"]
{
  width: 94%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #0F3F8C;
  color: #EBFBFF;
  font-size: 15px;
}

input[type="submit"]{
  width: 100%;
  padding: 10px;
  background-color: #FF7900;
  color: #00244E;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.redirect-link{
  margin-top: 15px;
  text-align: left;
}